#work {
    width: 100%;
    height: 10evh;
    padding: Brem $p;
    >h2{
    font: 700 2.5rem $text2;
    width: fit-content;
    border-bottom : 1px solid $color6_1;
    padding: 0.5rem;
    margin: auto;
}
}